body {
    margin: 0;
    padding: 0;
    background: #EEE;
    color: #444;
    font-family: 'Avenir', sans-serif;
    line-height: 2;
}
input {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
}
a {
    color: #444;
}
label {
    display: block;
}
.intro,
#feedreader,
#container {
    margin: 1em 2em;
}
.item {
    display: block;
    float: left;
    position: relative;
    background: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin: 10px;
    width: 200px;
    height: 260px;
    border-radius: 8px;
    border: 1px solid #DDD;
}
.item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
    .img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
    }
    .item a {
        display: block;
        height: 100%;
        text-decoration: none;
    }
    .item h1 {
        padding: 10px;
        margin: 0;
        font-weight: 700;
        line-height: 1.2;
        color: #444;
        text-decoration: none;
        background: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.8em;
        height: 40px;
    }